	<!-- Header -->
	<%- include('partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
					<form class="row g-3" action="/profile" method="GET">
						<div class="col-md-6">
							<label for="inputEmail4" class="form-label">Email</label>
							<input type="email" class="form-control" id="inputEmail4">
						  </div>
						  <div class="col-md-6">
							<label for="inputPassword4" class="form-label">Contraseña</label>
							<input type="password" class="form-control" id="inputPassword4">
						  </div>
						<div class="col-12 button">
						  <button type="submit" class="btn btn-primary">Ingresar</button>
						</div>
					  </form>
		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>

</html>