	<!-- Header -->
	<%- include('partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product" class="row g-3">
				<div class="col-12">
					  <label for="inputAddress" class="form-label">Modelo</label>
					  <input type="text" class="form-control modelo" name="modelo" id="modelo" placeholder="Escribe aquí el modelo ">
				</div>
				<div class="col-md-6">
					<label for="inputPassword4" class="form-label">Descripción</label>
					<textarea name="Descripción" class="form-control descrip" name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
				</div>
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Imagen</label>
					<input type="image" class="form-control img-form" name="image" id="image" src="https://via.placeholder.com/150" alt="submit" width="150" height="150">
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Agregar Producto</button>
				</div>
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>

</html>