	<!-- Header -->
	<% if(user=! null){ %> 
		<%- include('partials/headerLogueado.ejs') %> 
	<% } else { %>
		<%- include('partials/header.ejs') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/profile" class="row g-3">
				<div class="col-12">
					<label for="inputAddress" class="form-label">Editar Nombre</label>
					<input type="text" class="form-control" id="nombre" placeholder="Escribe aquí tu nombre">
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">Editar Apellido</label>
					<input type="text" class="form-control" id="apellido" placeholder="Escribe aquí tu apellido">
				</div>
				<div class="col-md-6">
					<label for="inputCity" class="form-label">Editar Fecha de Nacimiento</label>
					<input type="date" class="form-control" id="date">
				</div>
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Cambiar Email</label>
					<input type="email" class="form-control" id="inputEmail4">
				</div>
				<div class="col-md-6">
					<label for="inputPassword4" class="form-label">Cambiar Contraseña</label>
					<input type="password" class="form-control" id="inputPassword4">
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	
</body>

</html>