	<!-- Header -->
	<%- include('partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="row g-3" action="/users">
				<div class="col-12">
				  	<label for="inputAddress" class="form-label">Nombre</label>
				  	<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe aquí tu nombre">
				</div>
				<div class="col-12">
				  	<label for="inputAddress2" class="form-label">Apellido</label>
				 	<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Escribe aquí tu apellido">
				</div>
				<div class="col-md-6">
				  	<label for="inputCity" class="form-label">Fecha de Nacimiento</label>
				  	<input type="date" class="form-control" id="date" name="fecha">
				</div>
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">Email</label>
					<input type="email" class="form-control" id="inputEmail4" name="email">
				</div>
				<div class="col-md-6">
					<label for="inputPassword4" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="inputPassword4" name="password">
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Registrate</button>
				</div>
			</form>
		</div>
	</div>	
			

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>

</html>