	<!-- Header -->
	<%- include('partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users" method="GET">
					<p>
						<label for="">Nombre</label>
						<input type="text" name="nombre" id="nombre">
					</p>
					<p>
						<label for="">Apellido</label>
						<input type="text" name="apellido" id="apellido">
					</p>
					<p>
						<label for="">Fecha de nacimiento</label>
						<input type="date">
					</p>
					<p>
						<label for="">Email</label>
						<input type="email" name="email" id="email">
					</p>
					<p>
						<label for="">Contraseña</label>
						<input type="password" name="contraseña" id="contraseña">
					</p>
				
					
					<p>
						<button type="submit">Enviar</button>
					</p>

			</form>
			
			</h2>


	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>

</html>