	<!-- Header -->
	<%- include('partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <ul>
				<% for(let i=0; i<resultados.length; i+=1){ %>
					<li>
						<a href="/movies/detalle/<%= resultados[i].id %>">
						<%= resultados[i].modelo %>
					</a> 
					</li>
				<% } %>
			</ul>
			</h2>
		</div>
	</div>

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
</body>

</html>